body {
    background-color:#C39FFF;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-weight:bold;
    color:beige;
    margin:10px;
}

/* Typography */

div.largetext {
    font-size:355px;
    line-height:300px;
}

div.mediumtext {
    font-size:36px;
    line-height:22px;
}

div.smalltext {
    font-size:14px;
    line-height:15px;
}

/* colours */

div.beigetext {
    color:beige;
}

div.bluetext {
    color:#226ce0;
}

div.greentext {
    color:#7fefbd;
}

div.pinktext {
    color:#f88dad
}

div.bluebg {
    background-color:#226ce0;
}


/* layout */

div.width33 {
    width:33%;
}

div.width66 {
    width:66%;
}

div.width100 {
    width:100;
}


div.centre {
    margin-left:auto;
    margin-right:auto;
}

div.left {
    margin-right:auto;
}

div.right {
    margin-left:auto;
}





